/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #323232;
  font-family: "Roboto Regular",sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #323232;
}

.block-input {
  position: relative;
}

.input {
  border-radius: 10px;
  border: 1px solid #323232;
  padding: 23px 0 23px 31px;
  font-size: 15px;
  outline: none;
}

.input:focus {
  border: 1px solid #c3759e;
}

#user_name-error, #user_phone-error, #user_email-error {
  position: absolute;
  left: 31px;
  top: 65px;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
    width: 95%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 567px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
            transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.header {
  background-color: #f7f7f7;
  padding: 11px;
  font-size: 15px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phone__text {
  margin-left: 12px;
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 38px;
}

.header-address__text {
  margin-left: 12px;
}

.header-enter {
  margin-bottom: 2px;
  margin-left: auto;
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.header-enter__login {
  padding-right: 11px;
  border-right: 1px solid;
  border-color: #bcbcbc;
}

.header-enter__registration {
  padding-left: 6px;
}

@media (max-width: 992px) {
  .header {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header-phone__text {
    margin-left: 6px;
  }
  .header-address {
    margin-left: 15px;
  }
  .header-address__text {
    margin-left: 9px;
  }
}

@media (max-width: 567px) {
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-block__information {
    margin-bottom: 20px;
  }
  .header-address__text {
    max-width: 80px;
  }
  .header-enter {
    margin-left: 0;
  }
}

.navbar {
  padding-top: 18px;
  padding-bottom: 33px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-logo__text {
  margin-left: 10px;
  margin-bottom: 4px;
}

.navbar-logo__title {
  display: block;
  margin: 0;
  margin-bottom: 3px;
  font-size: 29px;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.navbar-logo__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.56px;
}

.navbar-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 584px;
  margin-top: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.navbar-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  height: 45px;
  width: 45px;
  background-color: #c3759e;
  border-radius: 50%;
}

.navbar-callback__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

@media (max-width: 1200px) {
  .navbar-menu__links {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .navbar-menu__links-item {
    position: relative;
  }
  .navbar-menu__links-item:hover {
    color: #c3759e;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .navbar-menu__links-item:hover:after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    display: block;
    margin-left: -30%;
    width: 60%;
    height: 2px;
    background-color: #c3759e;
  }
  .navbar-callback:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 992px) {
  .navbar-logo__title {
    font-size: 22px;
  }
  .navbar-logo__subtitle {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .navbar-menu {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
  }
  .navbar-menu__links {
    position: absolute;
    right: 0;
    width: 150px;
    padding: 45px 0 20px 0;
    border: 2px solid #323232;
    border-radius: 22.5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0) translateX(20%);
            transform: scale(0) translateX(20%);
    opacity: 0;
    background-color: #c3759e;
    z-index: 1;
  }
  .navbar-menu__links-active {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
    opacity: 1;
  }
  .navbar-menu__links-item {
    margin-bottom: 25px;
    color: #ffffff;
  }
  .navbar-menu__btn {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 8px;
    background-color: #c3759e;
    border-radius: 50%;
    z-index: 2;
  }
  .navbar-menu__btn span, .navbar-menu__btn span:before, .navbar-menu__btn span:after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }
  .navbar-menu__btn span:before {
    content: '';
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .navbar-menu__btn span:after {
    content: '';
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .navbar-menu__btn-active {
    border: 2px solid #323232;
  }
  .navbar-menu__btn-active span:before, .navbar-menu__btn-active span:after {
    width: 10px;
  }
  .navbar-menu__btn-active span:before {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  .navbar-menu__btn-active span:after {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

@media (max-width: 567px) {
  .navbar-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-logo {
    margin-bottom: 20px;
  }
  .navbar-callback {
    margin-right: auto;
  }
}

.hero {
  padding: 303px 0 330px 0;
  background-image: url(../img/hero/hero-bg.png), url(../img/hero/hero-bcg.jpg);
  background-size: 100% contain, cover;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, repeat-x;
  color: #ffffff;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-text {
  max-width: 568px;
}

.hero-text__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.hero-text__title {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 85px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.hero-text__description {
  display: block;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 25px;
}

.hero-text__button {
  display: inline-block;
  padding: 17px 35px;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .hero-text__title {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  .hero-text__button:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 100px 0 100px 0;
    background-size: 0%, cover;
  }
  .hero-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .hero-text {
    max-width: 400px;
  }
  .hero-text__subtitle {
    font-size: 18px;
  }
  .hero-text__title {
    font-size: 60px;
  }
  .hero-text__description {
    font-size: 14px;
  }
  .hero-text__button {
    font-size: 12px;
  }
}

@media (max-width: 567px) {
  .hero-text {
    max-width: 280px;
  }
  .hero-text__subtitle {
    font-size: 12px;
  }
  .hero-text__title {
    font-size: 40px;
  }
  .hero-text__description {
    font-size: 14px;
  }
  .hero-text__button {
    font-size: 12px;
  }
}

.about {
  padding: 80px 0 107px 0;
}

.about__title {
  position: relative;
  display: block;
  margin-bottom: 45px;
  color: #454545;
  font-size: 46px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.about__title::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 0;
  display: block;
  width: 92px;
  height: 3px;
  background-color: #454545;
  opacity: 0.09;
}

.about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-cards__card {
  max-width: 372px;
}

.about-cards__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  width: 193px;
  height: 193px;
  background-image: url(../img/about/about-bg.png);
  background-position: center;
}

.about-cards__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: #f7f7f7;
  z-index: -1;
}

.about-cards__text {
  text-align: center;
}

.about-cards__title {
  display: block;
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 28px;
  color: #454545;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.about-cards__description {
  display: block;
  height: 93px;
  margin-bottom: 44px;
  font-size: 15px;
  line-height: 24px;
  color: #939393;
  overflow: hidden;
}

.about-cards__button {
  position: relative;
  font-size: 14px;
  color: #c3759e;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.about-cards__button::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 25px;
  display: block;
  width: 44px;
  height: 2px;
  background-color: #c3759e;
}

@media (max-width: 1200px) {
  .about-cards__card {
    max-width: 290px;
  }
}

@media (max-width: 992px) {
  .about-cards__card {
    max-width: 200px;
  }
  .about-cards__title {
    font-size: 18px;
  }
  .about-cards__description {
    font-size: 12px;
  }
  .about-cards__button {
    font-size: 12px;
  }
  .about-cards__button::after {
    left: 15px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 50px 0 50px 0;
  }
  .about__title {
    text-align: center;
    font-size: 40px;
  }
  .about__title::after {
    left: 42%;
  }
  .about-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-cards__card {
    max-width: 280px;
    margin-bottom: 50px;
  }
  .about-cards__card:last-child {
    margin-bottom: 15px;
  }
  .about-cards__block {
    margin-bottom: 15px;
  }
  .about-cards__title {
    margin-bottom: 15px;
  }
  .about-cards__description {
    margin-bottom: 25px;
  }
}

@media (max-width: 567px) {
  .about__title::after {
    left: 35%;
  }
}

.service {
  padding: 80px 0 137px 0;
  background-color: #f7f7f7;
}

.service-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 73px;
}

.service__title {
  position: relative;
  font-size: 41px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #454545;
}

.service__title::after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 0;
  display: block;
  width: 92px;
  height: 3px;
  background-color: #454545;
  opacity: 0.09;
}

.service-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.service-buttons__item {
  padding: 13px 23px;
  border-radius: 20px;
}

.service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-cards__card {
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.service-cards__image {
  text-align: center;
  margin-bottom: 34px;
}

.service-cards__image-item {
  -o-object-fit: contain;
     object-fit: contain;
}

.service-cards__text {
  text-align: center;
}

.service-cards__title {
  display: block;
  position: relative;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 28px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #c3759e;
}

.service-cards__subtitle {
  position: relative;
  display: block;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 24px;
}

.service-cards__subtitle::before {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 111px;
  display: block;
  width: 53px;
  height: 3px;
  background-color: #454545;
  opacity: 0.09;
}

.service-cards__price {
  display: block;
  line-height: 28px;
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.service-cards__value {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #c3759e;
}

@media (max-width: 1200px) {
  .service-cards {
    max-width: 900px;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-cards__card {
    margin: 0 20px 40px 20px;
  }
  .service-cards__card:nth-child(3) {
    margin-bottom: 0;
  }
  .service-cards__card:nth-child(4) {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .service-cards__card:hover {
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #c3759e;
  }
  .service-cards__card:hover .service-cards__title {
    color: #ffffff;
  }
  .service-cards__card:hover .service-cards__subtitle {
    color: #ffffff;
  }
  .service-cards__card:hover .service-cards__subtitle::before {
    background-color: #f7f7f7;
    opacity: 1;
  }
  .service-cards__card:hover .service-cards__price {
    color: #ffffff;
  }
  .service-cards__card:hover .service-cards__value {
    color: #ffffff;
  }
  .service-buttons__item:hover {
    color: #ffffff;
    background-color: #c3759e;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 992px) {
  .service-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-cards__subtitle::before {
    left: 111px;
  }
  .service-buttons {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .service {
    padding: 50px 0 60px 0;
  }
  .service-head {
    display: block;
    margin-bottom: 40px;
  }
  .service__title {
    text-align: center;
    display: block;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .service__title::after {
    left: 42%;
  }
  .service-cards__card {
    margin: 0 20px 40px 20px;
  }
  .service-cards__card:nth-child(3) {
    margin-bottom: 40px;
  }
  .service-cards__image {
    margin-bottom: 30px;
  }
  .service-cards__title {
    font-size: 20px;
  }
  .service-cards__subtitle {
    font-size: 12px;
  }
  .service-cards__price {
    font-size: 11px;
  }
  .service-cards__value {
    font-size: 20px;
  }
}

@media (max-width: 567px) {
  .service__title::after {
    left: 35%;
  }
  .service-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.achievement {
  padding: 130px 0 120px 0;
  background-color: #282828;
}

.achievement-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievement-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievement-block__image {
  margin-bottom: 15px;
}

.achievement-block__title {
  margin-bottom: 10px;
  font-size: 54px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #816890;
}

.achievement-block__subtitle {
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .achievement {
    padding: 70px 0 70px 0;
  }
  .achievement-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievement-block__item {
    margin-bottom: 60px;
  }
  .achievement-block__item:last-child {
    margin-bottom: 0;
  }
  .achievement-block__title {
    font-size: 44px;
  }
  .achievement-block__subtitle {
    font-size: 16px;
  }
}

.consultation {
  padding: 55px 0 55px 0;
}

.consultation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultation-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation__title {
  display: block;
  margin-bottom: 25px;
  font-size: 41px;
  color: #454545;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.consultation__subtitle {
  display: block;
  font-size: 14px;
  color: #454545;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.consultation-buttons {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.consultation-buttons__call {
  display: inline-block;
  width: 206px;
  border-radius: 25px;
  padding: 15px 0;
  margin-right: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #c3759e;
}

.consultation-buttons__entry {
  display: inline-block;
  width: 206px;
  border-radius: 25px;
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  background-color: #816890;
}

@media (max-width: 1200px) {
  .consultation__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .consultation-buttons__call:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .consultation-buttons__entry:hover {
    background-color: #9a84a7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 992px) {
  .consultation__title {
    font-size: 35px;
  }
  .consultation-block {
    display: block;
  }
  .consultation__text {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .consultation {
    text-align: center;
  }
  .consultation__title {
    font-size: 32px;
  }
  .consultation-buttons {
    font-size: 12px;
  }
}

@media (max-width: 567px) {
  .consultation__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    font-size: 25px;
  }
  .consultation__subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    font-size: 12px;
  }
  .consultation-buttons {
    font-size: 12px;
  }
  .consultation-buttons__call {
    width: 270px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .consultation-buttons__entry {
    width: 270px;
  }
}

.footer {
  text-align: left;
  padding: 75px 0 75px 0;
  color: #ffffff;
  background-color: #816890;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 43px;
  border-bottom: 1px solid #f7f7f7;
  border-color: rgba(0, 0, 0, 0.04);
}

.footer-signature {
  display: block;
  margin-top: 37px;
  text-align: right;
  font-size: 15px;
}

.footer-signature__text {
  display: inline-block;
  margin-right: 10px;
}

.footer-description {
  margin-right: 90px;
}

.footer-description__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 35px;
}

.footer-description__image {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.footer-description__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
}

.footer-description__title {
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.footer-description__subtitle {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.56px;
}

.footer-description__text {
  display: inline-block;
  max-width: 250px;
  height: 70px;
  margin-bottom: 43px;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
}

.footer-description__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 74px;
}

.footer-about {
  margin-right: 100px;
  padding-top: 10px;
}

.footer-about__title {
  display: block;
  margin-bottom: 30px;
  font-size: 36px;
}

.footer-about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 54px;
}

.footer-about__list-item {
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.footer-service {
  padding-top: 10px;
}

.footer-service__title {
  display: block;
  margin-bottom: 30px;
  font-size: 36px;
}

.footer-service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-service__list {
  margin: 0;
  list-style: none;
  padding: 0;
  line-height: 54px;
}

.footer-service__list:first-child {
  margin-right: 190px;
}

.footer-service__list-item {
  font-size: 14px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .footer-description {
    margin-right: 40px;
  }
  .footer-about {
    margin-right: 40px;
  }
  .footer-service__list:first-child {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-description {
    margin-right: 50px;
    margin-bottom: 40px;
  }
  .footer-description__logo {
    margin-bottom: 25px;
  }
  .footer-description__text {
    margin-bottom: 25px;
    font-size: 12px;
  }
  .footer-description__title {
    font-size: 20px;
  }
  .footer-description__subtitle {
    font-size: 10px;
    letter-spacing: 0.4px;
  }
  .footer-about {
    padding-top: 20px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-about__title {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .footer-about__list {
    line-height: 40px;
  }
  .footer-about__list-item {
    font-size: 12px;
  }
  .footer-service {
    padding-top: 20px;
  }
  .footer-service__title {
    font-size: 28px;
  }
  .footer-service__list {
    line-height: 40px;
  }
  .footer-service__list:first-child {
    margin-right: 190px;
  }
  .footer-service__list-item {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 0 50px 0;
  }
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .footer-signature {
    font-size: 12px;
  }
  .footer-signature__text {
    margin-right: 5px;
  }
  .footer-description {
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .footer-description__logo {
    margin-bottom: 25px;
  }
  .footer-description__text {
    margin-bottom: 25px;
  }
  .footer-about {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-about__title {
    margin-bottom: 25px;
  }
  .footer-about__list {
    line-height: 40px;
  }
  .footer-service__list {
    line-height: 40px;
  }
  .footer-service__list:first-child {
    margin-right: 190px;
  }
}

@media (max-width: 567px) {
  .footer-service__list:first-child {
    margin-right: 70px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.modal-success {
  display: none;
  max-width: 1500px;
  padding: 100px 50px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

.modal-success__title {
  max-width: 700px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 33px;
}

.modal-success_active {
  display: block;
}

.modal-dialog {
  display: none;
  max-width: 570px;
  padding: 50px 70px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: #ffffff;
}

.modal-dialog_active {
  display: block;
}

.modal-dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #c3759e;
}

.modal-dialog__title {
  display: block;
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 33px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.modal-dialog__subtitle {
  display: block;
  margin-bottom: 53px;
  font-size: 16px;
}

.modal-dialog__input {
  width: 100%;
  margin-bottom: 15px;
}

.modal-dialog__button {
  width: 100%;
  margin-bottom: 33px;
  padding: 23px 30px;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #c3759e;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.modal-dialog__text {
  display: block;
  margin: auto;
  max-width: 291px;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 20px;
}

.modal-dialog__phone {
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 24px;
  color: #323232;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 470px;
  }
}

@media (min-width: 992px) {
  .modal-dialog__button:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .modal-dialog__close:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog__title {
    margin-bottom: 30px;
  }
  .modal-dialog__subtitle {
    margin: auto;
    max-width: 280px;
    margin-bottom: 20px;
  }
  .modal-dialog__button {
    margin-bottom: 20px;
  }
  .modal-dialog__close {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 567px) {
  .modal-dialog {
    padding: 50px 20px;
    max-width: 310px;
  }
  .modal-dialog__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .modal-dialog__subtitle {
    font-size: 12px;
  }
  .modal-dialog__button {
    font-size: 16px;
  }
  .modal-dialog__text {
    font-size: 12px;
  }
  .modal-dialog__phone {
    font-size: 18px;
  }
}

.poster {
  padding: 236px 0 248px 0;
  background-image: url(../img/poster/poster-woman.jpg), url(../img/poster/poster.jpg);
  background-size: 100% contain, cover;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, repeat-x;
  color: #ffffff;
}

.poster-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.poster-text {
  max-width: 545px;
}

.poster-text__subtitle {
  margin: 0;
  margin-bottom: 44px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.poster-text__title {
  margin: 0;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 110px;
  line-height: 1;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.poster-text__title-string3 {
  display: block;
  font-size: 62px;
}

.poster-text__button {
  display: inline-block;
  padding: 17px 35px;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

@media (min-width: 992px) {
  .poster {
    height: 908px;
  }
  .poster-text__button:hover {
    background-color: #d299b7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media (max-width: 992px) {
  .poster {
    padding: 100px 0 100px 0;
    background-size: 0%, cover;
  }
  .poster-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .poster {
    padding: 50px 0 50px 0;
  }
  .poster-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .poster-text {
    text-align: center;
    max-width: 400px;
  }
  .poster-text__subtitle {
    font-size: 16px;
  }
  .poster-text__title {
    font-size: 60px;
  }
  .poster-text__title-string3 {
    font-size: 26px;
  }
  .poster-text__button {
    font-size: 12px;
  }
}

@media (max-width: 567px) {
  .poster-text {
    max-width: 300px;
  }
  .poster-text__subtitle {
    font-size: 14px;
  }
  .poster-text__title {
    font-size: 45px;
  }
  .poster-text__button {
    font-size: 12px;
  }
}

.feedback {
  padding: 100px 0 170px 0;
  background-image: url(../img/feedback/feedback-bcg.png), url(../img/feedback/feedback-bg.jpg);
  background-size: contain, cover;
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  color: #ffffff;
}

.feedback-block {
  text-align: center;
}

.feedback-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__title {
  position: relative;
  maw-width: 484px;
  font-size: 41px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.feedback__title::after {
  content: '';
  position: absolute;
  bottom: -43px;
  left: 188px;
  display: block;
  width: 92px;
  height: 3px;
  background-color: #ffffff;
}

.feedback-card {
  max-width: 380px;
}

.feedback-card__review {
  position: relative;
  margin-top: 103px;
  margin-bottom: 40px;
  padding: 50px 35px;
  background-color: #f7f7f7;
}

.feedback-card__review-rating {
  display: block;
  margin-bottom: 32px;
}

.feedback-card__review-text {
  display: block;
  height: 93px;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  color: #979797;
}

.feedback-card__review-square {
  position: absolute;
  left: 32px;
  bottom: -19px;
}

.feedback-card__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 260px;
  margin-left: 20px;
}

.feedback-card__human-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 20px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.feedback-card__human-username {
  display: block;
  margin-top: 17px;
  margin-bottom: 12px;
  font-size: 22px;
}

.feedback-card__human-profession {
  display: block;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .feedback-card {
    max-width: 300px;
  }
}

@media (max-width: 992px) {
  .feedback-block {
    text-align: center;
  }
  .feedback-block__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-card {
    max-width: 380px;
  }
}

@media (max-width: 768px) {
  .feedback {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 567px) {
  .feedback__title {
    font-size: 30px;
  }
  .feedback__title::after {
    left: 80px;
    width: 60px;
  }
  .feedback-card__review {
    padding: 40px 25px;
  }
  .feedback-card__review-rating {
    margin-bottom: 20px;
  }
  .feedback-card__review-text {
    font-size: 12px;
    line-height: 22px;
  }
}

.news {
  padding: 115px 0 30px 0;
  background-color: #f7f7f7;
  color: #454545;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-newsfeed {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 70px;
}

.news-newsfeed__block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-newsfeed__block-data {
  position: absolute;
  top: -23px;
  left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 71px;
  height: 71px;
  color: #ffffff;
  background-color: #c3759e;
}

.news-newsfeed__data {
  max-width: 27px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  font-size: 30px;
  line-height: 0.6;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-newsfeed__data-text {
  font-size: 14px;
  text-transform: uppercase;
}

.news-newsfeed__title {
  position: relative;
  display: block;
  margin-bottom: 100px;
  font-size: 41px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-newsfeed__title::after {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 0;
  display: block;
  width: 92px;
  height: 3px;
  background-color: #454545;
  opacity: 0.09;
}

.news-newsfeed__card {
  position: relative;
  max-width: 280px;
  padding: 30px;
  text-align: left;
  background-color: #ffffff;
}

.news-newsfeed__card-image {
  margin-bottom: 34px;
}

.news-newsfeed__card-title {
  display: block;
  max-width: 150px;
  margin-bottom: 26px;
  font-size: 22px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-newsfeed__card-description {
  display: block;
  max-width: 170px;
  height: 90px;
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 24px;
  color: #979797;
  overflow: hidden;
}

.news-newsfeed__card-button {
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #c3759e;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-newsfeed__card-button::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 18px;
  display: block;
  width: 44px;
  height: 2px;
  background-color: #c3759e;
}

.news-previews {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 25px;
  margin-bottom: 70px;
}

.news-previews__title {
  position: relative;
  display: block;
  margin-bottom: 100px;
  font-size: 41px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-previews__title::after {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 0;
  display: block;
  width: 92px;
  height: 3px;
  background-color: #454545;
  opacity: 0.09;
}

.news-previews__block {
  position: relative;
  width: 587px;
  padding: 30px;
  padding-bottom: 67px;
  text-align: center;
  background-color: #ffffff;
}

.news-previews__block-video {
  display: block;
  max-width: 525px;
  height: 295px;
  margin-bottom: 30px;
}

.news-previews__block-title {
  display: block;
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Roboto Bold",sans-serif;
  font-weight: 700;
}

.news-previews__block-text {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #bcbcbc;
}

.news-previews__block-past {
  padding-right: 9px;
  border-right: 1px solid;
  border-color: #bcbcbc;
  color: #bcbcbc;
}

.news-previews__block-next {
  padding-left: 5px;
  color: #bcbcbc;
}

.news-previews__block-social {
  position: absolute;
  left: 193px;
  top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 195px;
  height: 47px;
  border-radius: 24px;
  background-color: #ffffff;
}

.news-previews__block-social__icon {
  margin: 0 6px;
}

@media (max-width: 1200px) {
  .news-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-newsfeed {
    margin-bottom: 70px;
  }
  .news-newsfeed__title {
    font-size: 32px;
    margin-bottom: 70px;
  }
  .news-newsfeed__block-card {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news-newsfeed__card-image {
    margin-bottom: 20px;
  }
  .news-newsfeed__card-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .news-newsfeed__card-description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .news-newsfeed__card-button {
    font-size: 12px;
  }
  .news-previews {
    margin-left: 0;
  }
  .news-previews__title {
    font-size: 32px;
    margin-bottom: 70px;
  }
  .news-previews__block {
    margin: auto;
  }
  .news-previews__block-title {
    font-size: 18px;
  }
  .news-previews__block-text {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .news-newsfeed__card:hover {
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #c3759e;
  }
  .news-newsfeed__card:hover .news-newsfeed__card-title {
    color: #ffffff;
  }
  .news-newsfeed__card:hover .news-newsfeed__card-description {
    color: #ffffff;
  }
  .news-newsfeed__card:hover .news-newsfeed__card-button {
    color: #ffffff;
  }
  .news-newsfeed__card:hover .news-newsfeed__card-button::after {
    background-color: #f7f7f7;
  }
}

@media (max-width: 768px) {
  .news {
    padding: 70px 0 0 0;
  }
  .news-newsfeed__title {
    text-align: center;
  }
  .news-newsfeed__title::after {
    left: 42%;
  }
  .news-newsfeed__block-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-newsfeed__card {
    margin-bottom: 50px;
  }
  .news-newsfeed__card:last-child {
    margin-bottom: 0;
  }
  .news-previews__title {
    text-align: center;
  }
  .news-previews__title::after {
    left: 42%;
  }
  .news-previews__block {
    width: 540px;
  }
  .news-previews__block-social {
    left: 170px;
  }
}

@media (max-width: 567px) {
  .news-newsfeed__title::after {
    left: 35%;
  }
  .news-previews__title::after {
    left: 35%;
  }
  .news-previews__block {
    width: 300px;
    padding: 30px 10px 30px 10px;
  }
  .news-previews__block-video {
    height: 200px;
  }
  .news-previews__block-social {
    top: 205px;
    left: 55px;
  }
}

@media (max-width: 320px) {
  .news-previews__block {
    width: 290px;
  }
  .news-previews__block-video {
    height: 200px;
  }
  .news-previews__block-social {
    top: 205px;
    left: 48px;
  }
}
/*# sourceMappingURL=style.css.map */