*
  box-sizing: border-box
body
  color: $text_color
  +reg
.container
  max-width: 1200px
  margin: auto
img
  max-width: 100%
a
  text-decoration: none
  outline: none
  color: $text_color

.block
  &-input
    position: relative 

.input
  border-radius: 10px
  border: 1px solid $text-color
  padding: 23px 0 23px 31px
  font-size: 15px
  outline: none
  &:focus
    border: 1px solid $hover_color

#user_name-error, #user_phone-error, #user_email-error
  position: absolute
  left: 31px
  top: 65px
  font-size: 12px
  text-align: center

@media (max-width: 1200px)
  .container
    max-width: 992px
    width: 95%
@media (max-width: 992px)
  .container
    max-width: 768px  
@media (max-width: 768px)
  .container
    max-width: 567px
@media (max-width: 567px)
  .container
    max-width: 320px
@media (max-width: 320px)
  .container
    width: 90%