.about
  padding: 80px 0 107px 0
  &__title
    position: relative
    display: block
    margin-bottom: 45px
    color: #454545
    font-size: 46px
    +bold
    &::after
      content: ''
      position: absolute
      bottom: -18px
      left: 0
      display: block
      width: 92px
      height: 3px
      background-color: #454545
      opacity: 0.09
  &-cards
    display: flex
    justify-content: space-between
    &__card
      max-width: 372px
    &__block
      display: flex
      margin: auto
      margin-bottom: 30px
      width: 193px
      height: 193px
      background-image: url(../img/about/about-bg.png)
      background-position: center
    &__image
      display: flex
      justify-content: center
      align-items: center
      margin: auto
      text-align: center
      width: 168px
      height: 168px
      border-radius: 50%
      background-color: #f7f7f7
      z-index: -1
    &__text
      text-align: center
    &__title
      display: block
      margin-bottom: 35px
      font-size: 25px
      line-height: 28px
      color: #454545
      +bold
    &__description
      display: block
      height: 93px
      margin-bottom: 44px
      font-size: 15px
      line-height: 24px
      color: #939393
      overflow: hidden
    &__button
      position: relative
      font-size: 14px
      color: #c3759e
      text-transform: uppercase
      +bold
      &::after
        content: ''
        position: absolute
        bottom: -10px
        left: 25px
        display: block
        width: 44px
        height: 2px
        background-color: #c3759e

@media (max-width: 1200px)
  .about
    &-cards
      &__card
        max-width: 290px
@media (max-width: 992px)
  .about
    &-cards
      &__card
        max-width: 200px
      &__title
        font-size: 18px
      &__description
        font-size: 12px
      &__button
        font-size: 12px
        &::after
          left: 15px
@media (max-width: 768px)
  .about
    padding: 50px 0 50px 0
    &__title
      text-align: center
      font-size: 40px
      &::after
        left: 42%
    &-cards
      flex-direction: column
      align-items: center
      &__card
        max-width: 280px
        margin-bottom: 50px
        &:last-child
          margin-bottom: 15px
      &__block
        margin-bottom: 15px
      &__title
        margin-bottom: 15px
      &__description
        margin-bottom: 25px
@media (max-width: 567px)
  .about
    &__title
      &::after
        left: 35%
