.achievement
  padding: 130px 0 120px 0
  background-color: #282828
  &-block
    display: flex
    justify-content: space-around
    align-items: center
    &__item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
    &__image
      margin-bottom: 15px
    &__title
      margin-bottom: 10px
      font-size: 54px
      +bold
      color: #816890
    &__subtitle
      font-size: 20px
      color: #ffffff
  
@media (max-width: 768px)
  .achievement
    padding: 70px 0 70px 0
    &-block
      flex-direction: column
      &__item
        margin-bottom: 60px
        &:last-child
          margin-bottom: 0
      &__title
        font-size: 44px
      &__subtitle
        font-size: 16px