.consultation
  padding: 55px 0 55px 0
  &-block
    display: flex
    align-items: center
    justify-content: space-between
  &-text
    display: flex
  &__title
    display: block
    margin-bottom: 25px
    font-size: 41px
    color: #454545
    +bold
  &__subtitle
    display: block
    font-size: 14px
    color: #454545
    +bold
  &-buttons
    text-transform: uppercase
    font-size: 14px
    +bold
    &__call
      display: inline-block
      width: 206px
      border-radius: 25px
      padding: 15px 0
      margin-right: 17px
      text-align: center
      color: #ffffff
      background-color: #c3759e
    &__entry
      display: inline-block
      width: 206px
      border-radius: 25px
      padding: 15px 0
      text-align: center
      color: #ffffff
      background-color: #816890

@media (max-width: 1200px)
  .consultation
    &__text
      flex-basis: 50%
@media (min-width: 992px)
  .consultation
    &-buttons
      &__call
        &:hover
          background-color: lighten(#c3759e, 10%)
          transition: 0.2s
      &__entry
        &:hover
          background-color: lighten(#816890, 10%)
          transition: 0.2s
@media (max-width: 992px)
  .consultation
    &__title
      font-size: 35px
    &-block
      display: block
    &__text
      margin-bottom: 40px
@media (max-width: 768px)
  .consultation
    text-align: center
    &__title
      font-size: 32px
    &-buttons
      font-size: 12px
@media (max-width: 567px)
  .consultation
    &__title
      margin-left: auto
      margin-right: auto
      max-width: 270px
      font-size: 25px
    &__subtitle
      margin-left: auto
      margin-right: auto
      max-width: 270px
      font-size: 12px
    &-buttons
      font-size: 12px
      &__call
        width: 270px
        margin-bottom: 20px
        margin-right: 0
      &__entry
        width: 270px