.feedback
  padding: 100px 0 170px 0
  background-image: url(../img/feedback/feedback-bcg.png), url(../img/feedback/feedback-bg.jpg)
  background-size: contain, cover
  background-position: center, center
  background-repeat: no-repeat, repeat-x
  color: #ffffff
  &-block
    text-align: center
    &__cards
      display: flex
      justify-content: space-between
      align-items: center
  &__title
    position: relative
    maw-width: 484px
    font-size: 41px
    +bold
    &::after
      content: ''
      position: absolute
      bottom: -43px
      left: 188px
      display: block
      width: 92px
      height: 3px
      background-color: #ffffff
  &-card
    max-width: 380px
    &__review
      position: relative
      margin-top: 103px
      margin-bottom: 40px
      padding: 50px 35px
      background-color: #f7f7f7
      &-rating
        display: block
        margin-bottom: 32px
      &-text
        display: block
        height: 93px
        overflow: hidden
        text-align: left
        font-size: 15px
        line-height: 24px
        color: #979797
      &-square
        position: absolute
        left: 32px
        bottom: -19px
    &__human
      display: flex
      max-width: 260px
      margin-left: 20px
      &-text
        display: flex
        flex-direction: column
        text-align: left
        margin-left: 20px
        +bold
      &-username
        display: block
        margin-top: 17px
        margin-bottom: 12px
        font-size: 22px
      &-profession
        display: block
        font-size: 14px

@media (max-width: 1200px)
  .feedback
    &-card
      max-width: 300px
@media (max-width: 992px)
  .feedback
    &-block
      text-align: center
      &__cards
        flex-direction: column
    &-card
      max-width: 380px
@media (max-width: 768px)
  .feedback
    padding: 50px 0 50px 0
@media (max-width: 567px)
  .feedback
    &__title
      font-size: 30px
      &::after
        left: 80px
        width: 60px
    &-card
      &__review
        padding: 40px 25px
        &-rating
          margin-bottom: 20px
        &-text
          font-size: 12px
          line-height: 22px
        