.footer
  text-align: left
  padding: 75px 0 75px 0
  color: #ffffff
  background-color: #816890
  &-block
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding-bottom: 43px
    border-bottom: 1px solid #f7f7f7
    border-color: rgba(0,0,0,0.04)

  &-signature
    display: block
    margin-top: 37px
    text-align: right
    font-size: 15px
    &__text
      display: inline-block
      margin-right: 10px
  
  &-description
    margin-right: 90px
    &__logo
      display: flex
      align-items: flex-end
      margin-bottom: 35px
    &__image
      filter: brightness(5)
    &__block
      &-text
        display: flex
        flex-direction: column
        margin-left: 8px
    &__title
      display: block
      margin-bottom: 5px
      font-size: 25px
      text-transform: uppercase
      +bold
    &__subtitle
      font-size: 11px
      text-transform: uppercase
      letter-spacing: 1.56px
    &__text
      display: inline-block
      max-width: 250px
      height: 70px
      margin-bottom: 43px
      font-size: 15px
      line-height: 24px
      overflow: hidden
    &__social
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 74px

  &-about
    margin-right: 100px
    padding-top: 10px
    &__title
      display: block
      margin-bottom: 30px
      font-size: 36px
    &__list
      list-style: none
      margin: 0
      padding: 0
      line-height: 54px
      &-item
        font-size: 14px
        +bold
        color: #ffffff
  
  &-service
    padding-top: 10px
    &__title
      display: block
      margin-bottom: 30px
      font-size: 36px
    &__block
      display: flex
    &__list
      margin: 0
      list-style: none
      padding: 0
      line-height: 54px
      &:first-child
        margin-right: 190px
      &-item
        font-size: 14px
        +bold
        color: #ffffff

@media (max-width: 1200px)
  .footer
    &-description
      margin-right: 40px
    &-about
      margin-right: 40px
    &-service
      &__list
        &:first-child
          margin-right: 100px
@media (max-width: 992px)
  .footer
    &-block
      flex-wrap: wrap
    &-description
      margin-right: 50px
      margin-bottom: 40px
      &__logo
        margin-bottom: 25px
      &__text
        margin-bottom: 25px
        font-size: 12px
      &__title
        font-size: 20px
      &__subtitle
        font-size: 10px
        letter-spacing: 0.4px
      
    &-about
      padding-top: 20px
      margin-right: 0
      margin-bottom: 30px
      &__title
        font-size: 28px
        margin-bottom: 25px
      &__list
        line-height: 40px
        &-item
          font-size: 12px
    &-service
      padding-top: 20px
      &__title
        font-size: 28px
      &__list
        line-height: 40px
        &:first-child
          margin-right: 190px
        &-item
          font-size: 12px
@media (max-width: 768px)
  .footer
    padding: 50px 0 50px 0
    &-block
      flex-wrap: wrap
      padding-bottom: 20px
    &-signature
      font-size: 12px
      &__text
        margin-right: 5px
    &-description
      margin-right: 40px
      margin-bottom: 40px
      &__logo
        margin-bottom: 25px
      &__text
        margin-bottom: 25px
    &-about
      margin-right: 0
      margin-bottom: 30px
      &__title
        margin-bottom: 25px
      &__list
        line-height: 40px
    &-service
      &__list
        line-height: 40px
        &:first-child
          margin-right: 190px
@media (max-width: 567px)
  .footer
    &-service
      &__list
        &:first-child
          margin-right: 70px