.header
  background-color: $bcg_color
  padding: 11px
  font-size: 15px
  &-block
    display: flex
    justify-content: flex-start
    align-items: center
    &__information
      display: flex
  &-phone
    display: flex
    align-items: center
    &__text
      margin-left: 12px
  &-address
    display: flex
    align-items: center
    margin-left: 38px
    &__text
      margin-left: 12px
  &-enter
    margin-bottom: 2px
    margin-left: auto
    font-size: 14px
    +bold
    &__login
      padding-right: 11px
      border-right: 1px solid
      border-color: #bcbcbc
    &__registration
      padding-left: 6px

@media (max-width: 992px)
  .header
    font-size: 12px
@media (max-width: 768px)
  .header
    &-phone
      &__text
        margin-left: 6px
    &-address
      margin-left: 15px
      &__text
        margin-left: 9px
@media (max-width: 567px)
  .header
    &-block
      flex-direction: column
      &__information
        margin-bottom: 20px
    &-address
      &__text
        max-width: 80px
    &-enter
      margin-left: 0