.hero
  padding: 303px 0 330px 0
  background-image: url(../img/hero/hero-bg.png), url(../img/hero/hero-bcg.jpg)
  background-size: 100% contain, cover
  background-position: center bottom, center bottom
  background-repeat: no-repeat, repeat-x
  color: #ffffff
  &-block
    display: flex
    align-content: center
    justify-content: flex-end
  &-text
    max-width: 568px
    &__subtitle
      margin: 0
      margin-bottom: 10px
      font-size: 25px
      text-transform: uppercase
      +bold
    &__title
      margin: 0
      margin-bottom: 25px
      text-transform: uppercase
      font-size: 85px
      +bold
    &__description
      display: block
      margin-bottom: 25px
      font-size: 16px
      line-height: 25px
    &__button
      display: inline-block
      padding: 17px 35px
      border-radius: 25px
      font-size: 14px
      text-transform: uppercase
      background-color: #fff
      +bold

@media (max-width: 1200px)
  .hero
    &-text
      &__title
        font-size: 80px
@media (min-width: 992px)
  .hero
    &-text
      &__button
        &:hover
          background-color: lighten(#c3759e, 10%)
          transition: 0.2s
@media (max-width: 992px)
  .hero
    padding: 100px 0 100px 0
    background-size: 0%, cover
    &-block
      justify-content: flex-start
@media (max-width: 768px)
  .hero
    &-text
      max-width: 400px
      &__subtitle
        font-size: 18px
      &__title
        font-size: 60px
      &__description
        font-size: 14px
      &__button
        font-size: 12px
@media (max-width: 567px)
  .hero
    &-text
      max-width: 280px
      &__subtitle
        font-size: 12px
      &__title
        font-size: 40px
      &__description
        font-size: 14px
      &__button
        font-size: 12px

