.navbar
  padding-top: 18px
  padding-bottom: 33px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  
  &-logo
    display: flex
    align-items: flex-end
    &__text
      margin-left: 10px
      margin-bottom: 4px
    &__title
      display: block
      margin: 0
      margin-bottom: 3px
      font-size: 29px
      text-transform: uppercase
      +bold
    &__subtitle
      font-size: 14px
      text-transform: uppercase
      letter-spacing: 1.56px
  
  &-menu
    &__links
      display: flex
      justify-content: space-between
      align-items: center
      width: 584px
      margin-top: 8px
      font-size: 14px
      text-transform: uppercase
      +bold
  
  &-callback
    display: flex
    margin-top: 8px
    height: 45px
    width: 45px
    background-color: #c3759e
    border-radius: 50%
    &__image
      align-self: center
      margin: auto

@media (max-width: 1200px)
  .navbar
    &-menu
      &__links
        width: 500px
@media (min-width: 992px)
  .navbar
    &-menu
      &__links
        &-item
          position: relative
          &:hover
            color: #c3759e
            transition: 0.2s
            &:after
              content: ''
              position: absolute
              bottom: -14px
              left: 50%
              display: block
              margin-left: -30%
              width: 60%
              height: 2px
              background-color: #c3759e
    &-callback
      &:hover
        background-color: lighten(#c3759e, 10%)
        transition: 0.2s

@media (max-width: 992px)
  .navbar
    &-logo
      &__title
        font-size: 22px
      &__subtitle
        font-size: 12px
        letter-spacing: 0.5px
    &-menu
      position: relative
      margin-left: auto
      margin-right: 20px
      &__links
        position: absolute
        right: 0
        width: 150px
        padding: 45px 0 20px 0
        border: 2px solid $text-color
        border-radius: 22.5px
        flex-direction: column
        transition: 0.5s
        transform-origin: right top
        transform: scale(0) translateX(20%)
        opacity: 0
        background-color: #c3759e
        z-index: 1
        &-active
          transform: scale(1) translateX(0%)
          opacity: 1
        &-item
          margin-bottom: 25px
          color: #ffffff
      &__btn
        position: relative
        display: block
        width: 45px
        height: 45px
        margin-top: 8px
        background-color: #c3759e
        border-radius: 50%
        z-index: 2
        span, span:before, span:after
          position: absolute
          top: 50%
          margin-top: -1px
          left: 50%
          margin-left: -10px
          width: 20px
          height: 2px
          background-color: #ffffff
        span:before
            content: ''
            transform: translateY(-5px)
            transition: 0.2s
        span:after
            content: ''
            transform: translateY(5px)
            transition: 0.2s
        &-active
          border: 2px solid $text-color
          span:before, span:after
            width: 10px
          span:before
            transform: rotate(-35deg)
            transform-origin: left bottom
          span:after
            transform: rotate(35deg)
            transform-origin: left top
@media (max-width: 768px)
  .navbar
    padding-top: 15px
    padding-bottom: 20px
@media (max-width: 567px)
  .navbar
    &-block
      flex-wrap: wrap
      justify-content: center
    &-logo
      margin-bottom: 20px
    &-callback
      margin-right: auto