.news
  padding: 115px 0 30px 0
  background-color: #f7f7f7
  color: #454545
  &-block
    display: flex
  
  &-newsfeed
    flex-basis: 50%
    margin-bottom: 70px
    &__block
      &-card
        display: flex
        justify-content: space-between
      &-data
        position: absolute
        top: -23px
        left: 23px
        display: flex
        border-radius: 50%
        width: 71px
        height: 71px
        color: #ffffff
        background-color: #c3759e
    &__data
      max-width: 27px
      text-align: center
      align-self: center
      margin: auto
      font-size: 30px
      line-height: 0.6
      +bold
      &-text
        font-size: 14px
        text-transform: uppercase
    &__title
      position: relative
      display: block
      margin-bottom: 100px
      font-size: 41px
      +bold
      &::after
        content: ''
        position: absolute
        bottom: -35px
        left: 0
        display: block
        width: 92px
        height: 3px
        background-color: #454545
        opacity: 0.09
    &__card
      position: relative
      max-width: 280px
      padding: 30px
      text-align: left
      background-color: #ffffff
      &-image
        margin-bottom: 34px
      &-title
        display: block
        max-width: 150px
        margin-bottom: 26px
        font-size: 22px
        +bold
      &-description
        display: block
        max-width: 170px
        height: 90px
        margin-bottom: 43px
        font-size: 14px
        line-height: 24px
        color: #979797
        overflow: hidden
      &-button
        position: relative
        display: block
        margin-bottom: 30px
        font-size: 14px
        text-transform: uppercase
        color: #c3759e
        +bold
        &::after
          content: ''
          position: absolute
          bottom: -10px
          left: 18px
          display: block
          width: 44px
          height: 2px
          background-color: #c3759e
  
  &-previews
    flex-basis: 50%
    margin-left: 25px
    margin-bottom: 70px
    &__title
      position: relative
      display: block
      margin-bottom: 100px
      font-size: 41px
      +bold
      &::after
        content: ''
        position: absolute
        bottom: -35px
        left: 0
        display: block
        width: 92px
        height: 3px
        background-color: #454545
        opacity: 0.09
    &__block
      position: relative
      width: 587px
      padding: 30px
      padding-bottom: 67px
      text-align: center
      background-color: #ffffff
      &-video
        display: block
        max-width: 525px
        height: 295px
        margin-bottom: 30px
      &-title
        display: block
        margin-bottom: 30px
        font-size: 22px
        +bold
      &-text
        display: block
        font-size: 14px
        text-transform: uppercase
        color: #bcbcbc
      &-past
        padding-right: 9px
        border-right: 1px solid
        border-color: #bcbcbc
        color: #bcbcbc
      &-next
        padding-left: 5px
        color: #bcbcbc
      &-social
        position: absolute
        left: 193px
        top: 300px 
        display: flex
        align-items: center
        justify-content: center
        width: 195px
        height: 47px
        border-radius: 24px
        background-color: #ffffff
        &__icon
          margin: 0 6px

@media (max-width: 1200px)
  .news
    &-block
      flex-direction: column
    &-newsfeed
      margin-bottom: 70px
      &__title
        font-size: 32px
        margin-bottom: 70px
      &__block
        &-card
          justify-content: space-around
      &__card
        &-image
          margin-bottom: 20px
        &-title
          font-size: 18px
          margin-bottom: 18px
        &-description
          font-size: 12px
          line-height: 18px
          margin-bottom: 30px
        &-button
          font-size: 12px
    &-previews
      margin-left: 0
      &__title
        font-size: 32px
        margin-bottom: 70px
      &__block
        margin: auto
        &-title
          font-size: 18px
        &-text
          font-size: 12px
@media (min-width: 992px)
  .news
    &-newsfeed
      &__card
        &:hover
          cursor: pointer
          transition: 0.2s
          background-color: #c3759e
          .news-newsfeed__card-title
            color: #ffffff
          .news-newsfeed__card-description
            color: #ffffff
          .news-newsfeed__card-button
            color: #ffffff
          .news-newsfeed__card-button::after
            background-color: #f7f7f7
@media (max-width: 768px)
  .news
    padding: 70px 0 0 0
    &-newsfeed
      &__title
        text-align: center
        &::after
          left: 42%
      &__block
        &-card
          flex-direction: column
          align-items: center
      &__card
        margin-bottom: 50px
        &:last-child
          margin-bottom: 0
    &-previews
      &__title
        text-align: center
        &::after
          left: 42%
      &__block
        width: 540px
        &-social
          left: 170px
@media (max-width: 567px)
  .news
    &-newsfeed
      &__title
        &::after
          left: 35%
    &-previews
      &__title
        &::after
          left: 35%
      &__block
        width: 300px
        padding: 30px 10px 30px 10px
        &-video
          height: 200px
        &-social
          top: 205px 
          left: 55px
@media (max-width: 320px)
  .news
    &-previews
      &__block
        width: 290px
        &-video
          height: 200px
        &-social
          top: 205px 
          left: 48px
    
    