.poster
  padding: 236px 0 248px 0
  background-image: url(../img/poster/poster-woman.jpg), url(../img/poster/poster.jpg)
  background-size: 100% contain, cover
  background-position: center bottom, center bottom
  background-repeat: no-repeat, repeat-x
  color: #ffffff
  &-block
    display: flex
    align-content: center
    justify-content: flex-end
  &-text
    max-width: 545px
    &__subtitle
      margin: 0
      margin-bottom: 44px
      font-size: 20px
      text-transform: uppercase
      +bold
    &__title
      margin: 0
      margin-bottom: 45px
      text-transform: uppercase
      font-size: 110px
      line-height: 1
      +bold
      &-string3
        display: block
        font-size: 62px
    &__button
      display: inline-block
      padding: 17px 35px
      border-radius: 25px
      font-size: 14px
      text-transform: uppercase
      background-color: #fff
      +bold

@media (min-width: 992px)
  .poster
    height: 908px
    &-text
      &__button
        &:hover
          background-color: lighten(#c3759e, 10%)
          transition: 0.2s
@media (max-width: 992px)
  .poster
    padding: 100px 0 100px 0
    background-size: 0%, cover
    &-block
      justify-content: flex-start
@media (max-width: 768px)
  .poster
    padding: 50px 0 50px 0
    &-block
      justify-content: center
    &-text
      text-align: center
      max-width: 400px
      &__subtitle
        font-size: 16px
      &__title
        font-size: 60px
        &-string3
          font-size: 26px
      &__button
        font-size: 12px
@media (max-width: 567px)
  .poster
    &-text
      max-width: 300px
      &__subtitle
        font-size: 14px
      &__title
        font-size: 45px
      &__button
        font-size: 12px

