.service
  padding: 80px 0 137px 0
  background-color: #f7f7f7
  &-head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 73px
  &__title
    position: relative
    font-size: 41px
    +bold
    color: #454545
    &::after
      content: ''
      position: absolute
      bottom: -21px
      left: 0
      display: block
      width: 92px
      height: 3px
      background-color: #454545
      opacity: 0.09
  &-buttons
    display: flex
    justify-content: space-between
    text-transform: uppercase
    font-size: 14px
    +bold
    &__item
      padding: 13px 23px
      border-radius: 20px
  &-cards
    display: flex
    justify-content: space-between
    &__card
      box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05)
      background-color: #ffffff
    &__image
      text-align: center
      margin-bottom: 34px
      &-item
        object-fit: contain
    &__text
      text-align: center
    &__title
      display: block
      position: relative
      margin-bottom: 15px
      font-size: 22px
      line-height: 28px
      +bold
      color: #c3759e
    &__subtitle
      position: relative
      display: block
      margin-bottom: 35px
      font-size: 15px
      line-height: 24px
      &::before
        content: ''
        position: absolute
        bottom: -23px
        left: 111px
        display: block
        width: 53px
        height: 3px
        background-color: #454545
        opacity: 0.09
    &__price
      display: block
      line-height: 28px
      font-size: 14px
      +bold
    &__value
      display: block
      margin-bottom: 38px
      font-size: 24px
      +bold
      color: #c3759e

@media (max-width: 1200px)
  .service
    &-cards
      max-width: 900px
      margin: auto
      flex-wrap: wrap
      justify-content: center
      &__card
        margin: 0 20px 40px 20px
        &:nth-child(3)
          margin-bottom: 0
        &:nth-child(4)
          margin-bottom: 0
@media (min-width: 992px)
  .service
    &-cards
      &__card
        &:hover
          cursor: pointer
          transition: 0.2s
          background-color: #c3759e
          .service-cards__title
            color: #ffffff
          .service-cards__subtitle
            color: #ffffff
          .service-cards__subtitle::before
                background-color: #f7f7f7
                opacity: 1
          .service-cards__price
            color: #ffffff
          .service-cards__value
            color: #ffffff
    &-buttons
      &__item
        &:hover
          color: #ffffff
          background-color: #c3759e
          transition: 0.2s
@media (max-width: 992px)
  .service
    &-cards
      flex-wrap: wrap
      justify-content: center
      &__subtitle
        &::before
          left: 111px
    &-buttons
      font-size: 12px
@media (max-width: 768px)
  .service
    padding: 50px 0 60px 0
    &-head
      display: block
      margin-bottom: 40px
    &__title
      text-align: center
      display: block
      font-size: 40px
      margin-bottom: 50px
      &::after
        left: 42%
    &-cards
      &__card
        margin: 0 20px 40px 20px
        &:nth-child(3)
          margin-bottom: 40px
      &__image
         margin-bottom: 30px
      &__title
        font-size: 20px
      &__subtitle
        font-size: 12px
      &__price
        font-size: 11px
      &__value
        font-size: 20px
@media (max-width: 567px)
  .service
    &__title
      &::after
        left: 35%
    &-buttons
      flex-direction: column